/* Два столбца */

.filters-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.filters-footer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    gap: 20px;
}

.filters-footer button {
    background-color: #2196F3;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    padding: 5px 5px;
    transition: 0.5s;
}

.filters-footer button:last-of-type {
    color: #2196F3;
    background-color: initial;
}

.filters-footer button:first-of-type:hover {
    background-color: #0074d3;
}

@media (max-width: 1092px) {
    .filters-container {
        flex-direction: column;
    }
}

.filters-container {
    display: flex;
    gap: 20px; /* Пробел между столбцами */
    overflow-y: auto;
}

.filters-container::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}

.filters-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #616161;
}

.filters-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.filters-left,
.filters-right {
    flex: 1; /* Равная ширина для обоих столбцов */
}

.filters-left {
    margin-right: 20px; /* Отступ справа */
}

.filters-right {
    margin-left: 20px; /* Отступ слева */
    margin-right: 20px;
}

/* Заголовки секций */
.filters-left h3,
.filters-right h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Форматирование полей */
label {
    display: block;
}

input,
select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #8f8f8f;
}

input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
}

/* Затемнение фона */
.modal-overlay {
    position: fixed;
    top: 0;
    color: #3b3b3b;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Убедитесь, что окно поверх остальных элементов */
}

/* Содержимое модального окна */
/* Содержимое модального окна */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 80%; /* Адаптивная ширина */
    max-width: 862px; /* Максимальная ширина */
    max-height: 80vh; /* Ограничиваем высоту окна до 80% от высоты viewport */
}

/* Кнопка закрытия */
.close-btn {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

/* Фильтры */
.filters {
    margin-top: 20px;
}

.filter-item input {
    font-size: 14px;
}

.filter__label {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input__item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.input__item input[type="checkbox"] {
    display: none; /* Скрываем оригинальный чекбокс */
}

.input__item span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.input__item input[type="checkbox"]:checked + span {
    border-color: #007bff; /* Цвет обводки при нажатии */
}

.input__item input[type="radio"] {
    display: none; 
}

.input__item input[type="radio"]:checked + span {
    border-color: #007bff; /* Цвет обводки при нажатии */
}

.slick-slider {
    padding: 15px 0;
}

.preset-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.preset-name {
    font-weight: bold;
    margin-top: 5px;
}

.preset-desc {
    font-size: 12px;
    color: #666;
}
  
.slick-arrow {
    font-size: 24px;
    z-index: 2;
    background: #333;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    width: 36px;
    height: 36px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.slider-wrapper.grabbing {
    cursor: grabbing;
  }

.slick-prev {
    left: -10px !important;
}

.slick-next {
    right: -10px !important;
}

.slick-arrow:hover {
    background: #eee;
}

.slick-prev,
.slick-next {
    width: 30px !important;
    height: 30px !important;
}

.slick-prev:before,
.slick-next:before {
    color: #007bff !important;
    transition: .2s all;
}

.preset-card.selected {
    border: 1px solid #007bff;
}

.address-suggest {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.suggestion-subtitle {
    font-size: 0.875rem;
    color: #666;
    margin-top: 2px;
}

.apply-button {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #2196F3;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    transition: .3s all;
}

.apply-button:hover {
    background-color: #0074d3;
}
  
  /* Стили для уведомлений */
.Toastify__toast {
  font-family: inherit;
  border-radius: 8px;
  padding: 12px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Toastify__toast--success {
  background: #4caf50;
  color: white;
}

.Toastify__toast--error {
  background: #f44336;
  color: white;
}

.Toastify__toast--warning {
  background: #ff9800;
  color: white;
}