@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    box-sizing: border-box;
    --container-gutter: 20em;
    --font-main-family: 'Montserrat', sans-serif;
    --header-background: #242526;
}
  
*,
::before,
::after {
box-sizing: inherit;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    height: 100vh;
    margin: 0 auto;
    font-family: var(--font-main-family);
    background-color: #ffffff;
}

h1 {
    font-size: 24px;
    color: #616161;
}

h4 {
    font-weight: 600;
    margin-bottom: 0;
}

footer {
    margin-top: auto;
}

main {
    padding: 50px 0;
}